# Python
__pycache__/
*.py[cod]
*$py.class
.env
.env.*
.venv/
venv/
env/
.Python
pip-log.txt
pip-delete-this-directory.txt

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/

# Docker
docker-compose.override.yml
